@import 'variables';

@font-face {
    font-family: 'Montserrat';
    src: url('../../public/font/Montserrat-Regular.ttf') format('truetype'); /* Sesuaikan dengan lokasi dan nama file font TTF Anda */
}

  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;

    .error-text {
        color: $color-dark-red;
        font-size: 12px;
    }
  }