// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Colors
$color-red: #EB3F36;
$color-dark-red: #730C07;
$color-light-grey: #F5F5F5BF;
$color-dark-grey: #696969;
$color-blue: #6F8EFF;