@import "../../../styles/variables.scss";

.login-card {
    width: 568px;
    margin: 0 auto; /* Membuat kartu berada di tengah web */
    margin-top: 100px; /* Atur jarak dari atas */
    padding: 42px 34px 46px 34px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.25) !important;
    position: relative;

    @keyframes slideInRight {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(0);
        }
    }
    
    @keyframes slideOutLeft {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
    
    &.step-entering {
        animation: slideInRight 0.3s forwards;
    }
    
    &.step-exiting {
        animation: slideOutLeft 0.3s forwards;
    } 

    .css-46bh2p-MuiCardContent-root {
        padding: 0;
    }
    .MuiFormControl-root {
        border-radius: 7px;
        background: #FFF;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
        
        .MuiFormLabel-root {
            color: #868686;
            font-family: 'Montserrat';
            font-size: 16px;
        }
        .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
            border: none;
        }
        
    }

    .title {
        font-size: 26px;
        font-weight: $font-weight-bold;
        color: $color-dark-red;
    }

    .forgot-password {
        display: flex;
        justify-content: end;
        .MuiTypography-root {
            font-family: 'Montserrat';
            margin: 0;
            color: #730C07;
            font-size: 12px;
            margin: 20px 0 30px 0;
            cursor: pointer;
        }
    }

    .show-hide-password {
        font-family: 'Montserrat';
        margin: 0;
        color: #730C07;
        font-size: 16px;
        cursor: pointer;
    }

    .register-link {
        margin-top: 24px; 
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat';
    
        hr {
            width: 80%;
            height: 1px;
            border: none;
            border-bottom: 1px solid #C2C2C2; 
            margin: 20px 0 39px 0;
        }
    
        .daftar-sekarang {
          
          font-family: 'Montserrat';
          span {
            color: #EB3F36; 
            margin-left: 8px; 
            cursor: pointer; 
          }
        }
    }
}